.logo, .navitem, main, .small, footer {
  background-color: lightgray;
  border: 3px solid darkgray;
  box-sizing: border-box;
  margin: 1%;
}

header {
  position: relative;
}

.logo {
  height: 120px;
  width: 200px;
  float: left;
}

nav {
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
}

.navitem {
  height: 80px;
  width: 80px;
  margin: 10px;

  float: right;
}

main {
  height: 200px;
}

.small {
  height: 180px;
  float: left;
  width: 31%
}

#middle {
  width: 32%;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

footer {
  height: 50px;
}
