header, aside, main, footer {
  background-color: lightgray;
  border: 3px solid darkgray;
  margin: 15px;
}

header, footer {
  height: 150px;
}

aside, main {
  height: 500px;
  float: left;
}

aside {
  width: 20%;
}

main {
  width: 51%
}

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}
